body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px;
	background-color: #81c784;
	/*outline: 1px solid slategrey;*/
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 1.68rem 0;
}

.card-title {
	text-align: center;
}

.input-field .helper-text {
	color: red;
}

td, th {
	padding: 5px;
}